<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="/assets/Images/university.png" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">University Management</h5>
          <p class="card-text">University Details</p>
          <div class="text-center">
                <a class="btn" routerLink="/university">University Portal</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="/assets/Images/college.png" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">College Management</h5>
            <p class="card-text">College Details</p>
            <div class="text-center">
              <a class="btn" routerLink="/college">College Portal</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="/assets/Images/course.png" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Course Management</h5>
            <p class="card-text">Course Details</p>
            <div class="text-center">
              <a class="btn" routerLink="/course">Course Portal</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="/assets/Images/branch.png" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Branch Management</h5>
          <p class="card-text">Branch Details</p>
          <div class="text-center">
              <a class="btn" routerLink="/branch">Branch Portal</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="/assets/Images/application.png" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Application Status</h5>
            <p class="card-text">Application Details</p>
            <div class="text-center">
              <a href="#" class="btn">Approve</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="/assets/Images/accounts.png" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Payment Management</h5>
            <p class="card-text">Payment Details</p>
            <div class="text-center">
              <a href="#" class="btn">Check Status</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
