<div class="banner">
  <!-- <div class="content">
       <a routerLink="home">Register Now <i class="bi bi-arrow-right"></i></a> 
    </div> -->
</div>
<br />
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">
          Why Online Admission System For Institution?
        </h2>
        <hr />
        <h3
          class="section-subheading"
          style="line-height: 25px; margin-bottom: 50px; font-style: normal"
        >
          Every year, students in thousands queue up for collecting
          admission/application forms and then again for submitting the
          admission/application forms. This leads to problems in managing the
          applications, resulting in annoyed parents and students alike.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="about-panel reports-sec margin-btm-40">
          <p>
            <strong>Online admission software</strong> simplifies the
            complexities of admission by -
          </p>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li>
                  <i class="fa fa-arrow-circle-right"></i>Enabling students to
                  upload required admission documents
                </li>
                <li>
                  <i class="fa fa-arrow-circle-right"></i>Online registration
                  fees payment & collection
                </li>
                <li>
                  <i class="fa fa-arrow-circle-right"></i>User-based login
                  access for greater security
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>
                  <i class="fa fa-arrow-circle-right"></i>Receive, track,
                  evaluate & verify digital documents
                </li>
                <li>
                  <i class="fa fa-arrow-circle-right"></i>Determining the course
                  eligibility of candidates & creating final merit list
                </li>
              </ul>
            </div>
          </div>

          <p>
            Thus, the <strong>university admission software</strong> makes the
            admission journey of students a hassle-free experience & at the same
            time, empowers schools, colleges, and universities by digitizing the
            entire admission procedure & eliminating manual-work dependency for
            seamless student admission data management.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
