
 


<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" href="#"><i class="fa-solid fa-graduation-cap"></i>Online Admission System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link"
            >Menu</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="aboutUs"
            routerLinkActive="active-link"
            >About Us</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="course" routerLinkActive="active-link"
            >Course</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contactUs"
            routerLinkActive="active-link"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active-link"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
